body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
;
}

.inputs{
    position: fixed;
    top: 10px;
    left: 10px;
}

.inputs>* {
    display: block;
}

.inputs label{
    font-size: small;
}